<h1>New Product</h1>

<form action="/products" method="post">
<div>
  Name: <input type="text" name="name">
</div>
<div>
  Price: <input type="number" step="0.01" name="price">
</div>
<div>
  Description: <input type="text" name="description">
</div>
<div>
  In Stock: <input type="checkbox" checked name="in_stock" value=true>
</div
<div>
  Supplier Id: <input type="number" name="supplier_id">
</div>
<div>
<input type="submit" value="Create Product">
</div>
</form>